// Variables

$primary: #00adee;


body{
  height: 100vh;
  overflow: hidden;
  background: #333;
}

div.wrapper{
  max-width: 1920px;
  width: 100%;
}

// Header Section
.home .header.header-active {
  justify-content: space-between;
}



.home{
  .header{
    position: absolute;
    top: 2.5%;
    left: 0;
    right: 0;
    z-index: 101;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    transition: .7s all ease-in-out;
    align-items: center;
    width: auto;
    &.header-active{
      transition: .7s all ease-in-out;
      justify-content: center;
      .nav{
        transition: .7s all ease-in-out;
        height: 55px;
        margin-top: 0px;
        .menu{
          .menu-item{
            opacity: 0;
            transition: .3s all ease-in-out;
            &.home{
              opacity: 1;
            }
          }
        }
      }
      .logo{
        transition: .7s ease-in-out all;
        .logo-img{
          filter: none;
          transition: .7s ease-in-out all;
        }
      }
    }
    .logo {
      display: flex;
      flex: 0 1 auto;
      justify-content: center;
      transition: .7s ease-in-out all;
      margin-right: 15px;
      .logo-img {
        width: 150px;
        max-width: 150px;
        filter: drop-shadow(7px 7px 5px #333);
        transition: .7s ease-in-out all;
      }
    }
    .nav{
      background: rgba(0,0,0,0.6);
      border-radius: 5px;
      padding: 10px 25px; 
      transition: .7s all ease-in-out;
      overflow: hidden;
      text-align: center;
      margin-top: 0px;
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      max-width: 767px;
      transition: .7s ease-in-out all;
      .menu{
        padding: 0px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        margin: 0px;
        font-weight: lighter;
        letter-spacing: 1px;
        width: 100%;
        flex: 1;
        .menu-item{
          list-style-type: none;
          opacity: 1;
          transition: .3s all ease-in-out;
          width: 150px;
          height: 33px;
          overflow-y: hidden;
          &.home{
            opacity: 1;
          }
          a{
            font-size: 24px;
            color: #fff;
            white-space: nowrap;
            overflow: hidden;
          }
        }
      }
    }   
  }
}
@media(max-width: 1024px) and (min-width: 768px){
  .home{
    .header{
      .nav{
        max-width: 500px;
        .menu{
          .menu-item{
            width: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            a {
              font-size: 15px;
              transition: .7s ease-in-out all;
            }
          } 
        } 
      } 
    } 
    .header.header-active{
      .nav{
        .menu{
          .menu-item{
            a{
              font-size: 24px;
              transition: .7s ease-in-out all;
            }
          }
        }
      }   
    }
  } 
}
.home{
  .logo{
    max-width: 150px;
    svg{
      width: 100%;
    }
  }
}
@media(min-width: 768px){
  .home{
    .header.header-active{
      top: 10px;
      .logo{
        flex: 0 1 auto;
        .logo-img {
          margin-top: 0px;
          max-width: 100px;
        }
      }
      .nav{
        padding-top: 10px;
        max-width: 200px;
        .menu{
          flex: 0 1 auto;
          .menu-item{
            width: 150px;
          }
          .menu-item:not(.home) {
            width: 0px;
          }
        }
      }
    }
  }    
}
@media(max-width: 767px){
  .home{
    .header{
      top: 20%;
      max-width: 200px;
      .nav{
        padding: 25px 25px;
        height: 184.5px;
        max-width: 200px;
        margin-top: 20px;
        transition: .7s ease-in-out all;
        .menu{
          flex-wrap: wrap;
          margin-top: 0px;
          transition: .7s ease-in-out all;
          .menu-item {
            width: 100%;
          }
        }
      }
      .logo {
        margin-right: 0px;
      }
      &.header-active{
        top: 0;
        .logo{
          .logo-img {
            max-width: 50px;
            margin: 8px 0px;
            transition: .7s ease-in-out all;
          }
        } 
        .nav{
          height: 40px;
          padding: 0;
          transition: .7s ease-in-out all;
          .menu {
            margin-top: 100px;
            transition: .7s ease-in-out all;
          }
        } 
      }
    }
  }
}
.logo svg .st0,
.logo svg .st1{
  -webkit-animation: dash 7s linear forwards, fill 3s linear forwards;
  animation: dash 7s linear forwards, fill 3s linear forwards;
}
@keyframes fill {
  0%{
    fill:RGBA(0,0,0,0.7);
    fill-opacity: 0;
  }
  10%{
    fill: RGBA(0,0,0,0.7);
    fill-opacity: 0.1;
  }
  20%{
    fill: RGBA(0,0,0,0.7);
    fill-opacity: 0.2;
  }
  30%{
    fill: RGBA(0,0,0,0.7);
    fill-opacity: 0.3;
  }
  40%{
    fill: RGBA(0,0,0,0.7);
    fill-opacity: 0.4;
  }
  50%{
    fill: RGBA(0,0,0,0.7);
    fill-opacity: 0.5;
  }
  60%{
    fill: RGBA(0,0,0,0.7);
    fill-opacity: 0.6;
  }
  70%{
    fill: RGBA(0,0,0,0.7);
    -webkit-fill: RGBA(0,0,0,0.7);
    fill-opacity: 0.7;
  }
  80%{
    fill: RGBA(0,0,0,0.7);
    fill-opacity: 0.8;
  }
  90%{
    fill: RGBA(0,0,0,0.7);
    fill-opacity: 0.9;
  }
  100%{
    fill: RGBA(0,0,0,0.7);
    fill-opacity: 1;
  }
}
.stroke {
  stroke-dasharray: 4000;
  stroke-dashoffset: 4000;
  animation: dash linear forwards;
  -webkit-animation: dash 1s linear forwards;
}
@-webkit-keyframes{
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}
// End Header Section

// Main wrapper style
.main-wrapper{
  height: 100vh;
  width: 100%;
  position: relative;
  transition: .7s ease-in-out;
  .hero-half{
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 100;
    &.hero-half-left{
      left: 0;
      right: 50%;
      transition: .7s ease-in-out;
      background: url('../../images/tech-left.jpg')no-repeat right center;
      background-size: cover;
      &.hero-half-left-active{
        right: 100%;
        transition: .7s all ease-in-out;
      }
    }
    &.hero-half-right{
      right: 0;
      left: 50%;
      transition: .7s ease-in-out;
      background: url('../../images/tech-right.jpg')no-repeat left center;
      background-size: cover;
      &.hero-half-right-active{
        left: 100%;
        transition: .7s all ease-in-out;
      }
    }
  }
  .inner-section{
    position: relative;
    height: 100vh;
    width: 100%;
    .homepage-content-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;
      .homepage-content-inner{
        margin-bottom: 70px;
        padding-top: 120px;
      }
    }
    .contact-wrapper {
      height: 100vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #222;
      transition: .7s all ease-in-out;
      opacity: 0;
      z-index: 1;
      .homepage-content-inner{
        padding-right: 10px;
        padding-left: 10px;
      }
      div.wpforms-container-full{
        .wpforms-form{
          .wpforms-field-sublabel,
          .wpforms-field-label{
            color: #fff;
          }
        } 
      } 
      &.active{
        transition: .7s all ease-in-out;
        opacity: 1;
        z-index: 2;
      }
    }
    .previous-work-wrapper{
      transition: .7s all ease-in-out;
      opacity: 0;
      z-index: 1;
      background: #222;
      .homepage-content-inner{
        // height: 100vh;
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: #222;
        padding-top: 120px;
        flex-wrap: wrap;
        .project-wrapper{
          overflow: hidden;
          width: 250px;
          height: 250px;
          background: #fff;
          margin: 15px;
          position: relative;
          &:hover{
            .project-box{ 
              transition: .5s all;
              filter: grayscale(100%);
            }
            span{
              background: #00adee;
              transition: .5s all;
            }
          }
          .project-box{
            height: 100%;
            width: 100%;
            position: relative;
            text-align: center;
            background-size: cover; 
            transition: .5s all;
            display: block;
            filter: grayscale(0);
            &.salon177{
              background: url('../../images/projects/salon177.jpg')no-repeat center center;
            }
            &.dicks{
              background: url('../../images/projects/dicks.jpg')no-repeat center center;
            }
            &.amanda{
              background: url('../../images/projects/amanda.jpg')no-repeat center center;
            }
          }
          span{
            background: rgba(0,0,0,0.8);
            color: #fff;
            width: 100%;
            padding: 10px 25px;
            font-size: 24px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: auto;
            text-align: center;
            transition: .5s all;
          }
        }
      }
      &.active{
        transition: .7s all ease-in-out;
        opacity: 1;
        z-index: 2;
      }
    }
    .about-wrapper{
      padding-top: 120px;
      opacity: 0;
      transition: .7s all ease-in-out;
      opacity: 0;
      z-index: 1;
      height: 100vh;
      width: 100%;
      background: #222;
      color: #ddd;
      .about-inner{
        max-width: 767px;
        margin: 0 auto 70px auto;
        text-align: center;
        font-size: 16px;
        background: #333;
        border-radius: 5px;
        padding: 10px;
        a{
          color: #ddd;
          text-decoration: underline;
        }
      }
      &.active{
        transition: .7s all ease-in-out;
        opacity: 1;
        z-index: 2;
      }
    }
  }
}

// Footer
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: #333333;
  color: #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  p{
    display: inline-block;
    padding: 0px;
    margin: 0px;
  }
}